// Header
@import '../utils/placeholder.scss';

.header {
   background-color: var(--primary-color);
}
.header__container {
   align-items: center;
   display: flex;
   height: 100px;
   justify-content: space-between;
   margin: 0 auto;
   @extend %container;
}
.header__language,
.header__login {
   font-family: var(--primary-font);
   font-size: var(--size-small-font);
}
.header__login {
   align-items: center;
   cursor: pointer;
   display: flex;
   span {
      margin: 0 10px 0 0;
   }
}
.header__nav {
   width: 60%;
   ul {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-between;
      li {
         display: flex;
         flex-direction: column;
         align-items: center;
         font-family: var(--primary-font);
         font-size: var(--size-small-font);
         letter-spacing: 1px;
         a {
            color: #000;
            text-decoration: none;
         }
         div {
            position: absolute;
            top: 65px;
         }
      }
      li:nth-of-type(3) {
         cursor: pointer;
         display: flex;
         justify-content: center;
         width: 200px;
      }
   }
}
.header__language {
   align-items: center;
   cursor: pointer;
   display: flex;
   width: 70px;
   button {
      @extend %buttonReset;
   }
   button:nth-of-type(1) {
      margin: 0 12px 0 8px;
   }
}
