@font-face {
   font-family: 'Poppins-Regular';
   src: url('../../fonts/Poppins/Poppins-Regular.ttf');
   font-weight: 600;
}
@font-face {
   font-family: 'Poppins-SemiBold';
   src: url('../../fonts/Poppins/Poppins-SemiBold.ttf');
   font-weight: 600;
}
@font-face {
   font-family: 'Didot';
   src: url('../../fonts/Didot/Didot-HTF-M06-Medium.otf');
}