/* Variables*/

:root {
   /* Colors */
   --primary-color: #fff;
   --detail-color: #BC9143;

   /* Fonts */
   --primary-font: 'Poppins-Regular';

   /* Fonts-Size */
   --size-small-font: 14px;
   --size-mid-font: 16px;
   --size-big-font: 30px;
}